/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  height: 100%; /* Make sure the html and body fill the full viewport height */
}

/* Search bar and location select styling */
#search-input,
#location-select #search-input {
  padding: 10px;
  background: #fff; 
  border: none; 
  border-radius: 4px; 
  box-shadow: inset 0 0 0 1px #ccc; /* Add a subtle shadow instead of a border for definition */
}

.search-stats {
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

.search-results {
  width: 90%;
}

.result {
  padding: 10px; 
  display: flex; 
  align-items: center; 
}

.results__item {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.result__image-container {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.result__image {
  width: 100%; 
  height: 100%; 
  min-width: 100%; 
  max-height: 90%; 
  object-fit: cover; 
}

.result__text-container {
  font-size: 14px; 
  color: #666; 
  display: flex;
  flex-direction: column;
}

.result__title {
  font-size: 14px; 
  font-weight: bold; 
  color: #333; 
  margin-left: 10px; 
}

.result__title-header {
  display: flex;
  align-items: center; 
  font-size: 18px; 
  line-height: 24px; 
}

#show-more {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc; 
  color: #333; 
  text-align: center;
  background-color: transparent; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

#load-more:hover {
  background-color: #2878d0;
}

.like-button {
  background: url('./assets/images/bookmark.png') no-repeat center center;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-size: contain; 
  padding: 0; 
  display: flex; 
  align-items: center;
}

.like-button.liked {
  background-image: url('./assets/images/bookmark_selected.png');
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  background: url("./assets/images/background.png") repeat;
  background-color: #dddddd;
}


.page__search {
  float: left;
  width: 100%;
}
.page__content {
  float: left;
  width: 100%;
  padding: 0 23px;
  flex: 1 1 auto;
}

/* Search input highlight */
.result__title em, .result__summary em {
  background-color: yellow;
  font-style: normal;
  font-weight: bold;
}

.page__container:before,
.page__container:after {
  content: " ";
  display: table;
}
.page__container:after {
  clear: both;
}

.page__container {
  width: 90%;
  max-width: 1200px;
  min-height: 80vh; 
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  position: relative;
  margin: 50px auto; 
}

@media (min-width: 768px) {
  .page__container {
    position: relative; 
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    display: block; 
    width: 94%;
    min-height: 84vh; 
    max-width: 1080px;
    margin: 50px auto; 
    border: 1px solid #cccccc;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
}

.search-bar {
  background-color: #1c688e;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#search-input {
  flex-grow: 1; 
  margin-right: 10px;
}

#location-select {
  flex-basis: 20%; 
}

.search-stats,
.suggestions {
  margin: 10px 0;
}

.main-page {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.all-facets {
  flex-basis: 20%;
}

.main-search {
  flex-basis: 75%;
  margin-left: 5%; 
}

.search-results .results__item {
  border-bottom: none; 
  padding: 10px 0;
}

#stars-filter span.star-images {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  white-space: nowrap; 
  overflow: hidden; /* Keeps the content from spilling out */
}

#stars-filter span.star-images img {
  height: 20px; 
  width: auto;
  display: inline-block; 
}

.facets h4 {
  font-size: 12px; 
  margin-bottom: 5px; 
  padding: 5px 0; 
  border-bottom: 1px solid #ccc; 
  color: #333; 
}

.facets ul {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

.facet-list {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.facet-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px; 
}

.facet-list li a {
  text-decoration: none;
  color: #333;
  padding: 1px; 
  width: 100%;
  box-sizing: border-box;
  font-size: 14px; 
}

.facet-name {
  text-align: left;
  white-space: nowrap; 
}

.facet-count {
  margin-left: auto;
  background: #f6f6f6;
  padding: 2px 6px; 
  border-radius: 4px;
  font-weight: bold; 
}

.facet-item a {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.facets li a {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  text-decoration: none; 
  color: #666; 
  font-size: 14px; 
  padding: 5px 10px; 
  border-radius: 4px; 
  transition: background-color 0.3s, color 0.3s; 
}

.facets li a:hover {
  background-color: #e6f0fa; 
  color: #333;
}

.facet-name {
  flex-grow: 1;
}

.facet-count {
  width: 40px; 
  text-align: right;
}

.refined a {
  background-color: #4BA0D8; 
  border-radius: 4px;
  display: block; 
  padding: 5px; 
  color: white; 
}

.refined a span:first-child {
  color: white;
}

.refined a:hover span:first-child {
  color: #333; 
}

.result__summary, .result__payment-options, .result__distance {
  font-size: 12px; 
  margin: 2px 0; 
}

.result__rating, .result__payment-options, .result__distance {
  margin: 4px 0; 
}

.star-images {
  margin-left: 10px; 
}

.star-images img {
  vertical-align: middle; 
  width: 16px;
  height: auto; 
}

.reviews-count {
  margin-left: 8px; 
  color: #666; 
}

.result__rating > span {
  display: inline-block; 
  vertical-align: middle; 
}

.stats-text {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

.underline {
  flex-grow: 1; 
  height: 1px;
  background-color: #ccc;
  margin-left: 10px; 
  margin-bottom: 10px;
}

.suggestions .suggestion {
  padding: 5px 10px;
  margin: 2px 0;
  background-color: #f4f4f4;
  cursor: pointer;
}

.suggestions .suggestion:hover {
  background-color: #e0e0e0;
}
